h1 Upload the package!

form#file_upload*{multipart: true, enctype: "multipart/form-data"}
  = hidden_field_tag :user_token, @user_token
  = hidden_field_tag :room_id, @room_id
  = file_field_tag :file
  a#upload_file
    | Upload File
progress

coffee:
  BASE_URL = 'hackchat.dev'

  $ ->
    $(':file').change ->
      file = this.files[0]
      name = file.name
      size = file.size
      type = file.type

    $('#upload_file').click ->
      form = $('#file_upload')[0]
      data =  new FormData form

      jqxhr = $.ajax({
        type: 'POST',
        url: "http://files.#{BASE_URL}/uploader",
        data: data,
        cache: false,
        contentType: false,
        processData: false
      })

      jqxhr.success (data) ->
        $('#message_content').append "<a>#{data.url}</a>"
